<ejs-chart
  *ngIf="chartSetting.type !== 'Pie'"
  height="200px"
  [primaryXAxis]="chartSetting.xAxis"
  [zoomSettings]="zoom"
>
  <e-series-collection>
    <e-series
      [dataSource]="chartSetting.dataSource"
      [type]="chartSetting.type"
      [xName]="chartSetting.xName"
      [yName]="chartSetting.yName"
    >
    </e-series>
  </e-series-collection>
</ejs-chart>

<ejs-accumulationchart
  *ngIf="chartSetting.type == 'Pie'"
  [enableAnimation]="true"
  height="162px"
>
  <e-accumulation-series-collection>
    <e-accumulation-series
      [dataSource]="chartSetting.dataSource"
      [xName]="chartSetting.xName"
      [yName]="chartSetting.yName"
      [radius]="chartSetting?.radius"
      [name]="chartSetting.name"
      [dataLabel]="chartSetting.dataLabel"
      [innerRadius]="chartSetting?.innerRadius"
    >
    </e-accumulation-series>
  </e-accumulation-series-collection>
</ejs-accumulationchart>
