<ejs-listview
  id="List"
  #list
  [dataSource]="chatData"
  headerTitle="Chat"
  showHeader="true"
  width="500px"
  height="1000px"
  [fields]="fields"
>
  <ng-template #template let-data="">
    <div
      class="settings"
      *ngIf="
        data.chat != 'receiver';
        then receiverTemplate;
        else senderTemplate
      "
    ></div>
    <ng-template #senderTemplate>
      <div class="dialogContainer">
        <div id="content">
          <div class="name">{{ data.text }}</div>
          <div id="info">{{ data.contact }}</div>
        </div>

        <div id="image" *ngIf="data.avatar != ''">
          <span class="e-avatar img1 e-avatar-circle"></span>
        </div>
        <div id="image" *ngIf="data.avatar == ''">
          <span class="img1 e-avatar e-avatar-circle"> </span>
        </div>
      </div>
    </ng-template>

    <ng-template #receiverTemplate>
      <div class="dialogContainer">
        <div id="image" *ngIf="data.avatar != ''">
          <span class="e-avatar img1 e-avatar-circle"></span>
        </div>
        <div id="image" *ngIf="data.avatar == ''">
          <span class="img1 e-avatar e-avatar-circle">
            <img src="./robot.jpg" />
          </span>
        </div>

        <div id="content1">
          <div class="name1">{{ data.text }}</div>
          <div id="info1">{{ data.contact }}</div>
        </div>
      </div>
    </ng-template>
  </ng-template>
</ejs-listview>
<div>
  <input
    #message_input
    id="name"
    class="e-input"
    type="text"
    placeholder="Type your message"
    (keyup.enter)="btnClick()"
  />
  <button ejs-button id="btn" style="float: left" (click)="btnClick()">
    Send
  </button>
</div>
