<div class="control-section">
  <ejs-dashboardlayout
    [allowResizing]="true"
    [allowDragging]="true"
    [columns]="6"
    #editLayout
    [cellSpacing]="cellSpacing"
  >
    <e-panels>
      <e-panel
        *ngFor="let panel of samplePanels"
        [sizeX]="panel.sizeX ? panel.sizeX : 3"
        [sizeY]="panel.sizeY ? panel.sizeY : 1"
        [row]="panel.row"
        [col]="panel.col"
      >
        <ng-template #header>
          <div>{{ panel.title }}</div>
        </ng-template>
        <ng-template #content>
          <app-chart [chartSetting]="panel.chartSetting"></app-chart>
        </ng-template>

        <div>{{ panel.description }}</div>
      </e-panel>
    </e-panels>
  </ejs-dashboardlayout>
</div>
